@font-face {
  font-family: "zabars";
  src: url("fonts/Zabars.ttf");
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("img/desert.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "zabars", Arial, Helvetica, sans-serif;
  font-size: 24px;
}

h1 {
  font-size: 56px;
}

#GameCanvas {
  background-color: black;
  display: none;
}

#SplashScreen {
  padding-top: 48px;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 64px;
  height: 480px;
  width: 720px;
  background-image: url("./img/9_intro_outro_screens/start/startscreen_1.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#SplashScreen input {
  margin: 32px 0;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #ff9601;
  border: none;
  border-radius: 16px;
  color: white;
}

button {
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #ff9601;
  border: none;
  border-radius: 16px;
  color: white;
}

#RulesDiv {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#ImpressumDiv {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#ImpressumDiv h2 {
  margin-bottom: 20px;
}
